<a href="https://colab.research.google.com/github/Vanshika004/Zomato-Feedback-Review/blob/main/Zomato_Review_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####*Data Preprocessing*

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('/content/zomato_reviews.csv')
X = data.iloc[:, :-1]
y = data.iloc[:,-1]

In [ ]:
print(X)

      Unnamed: 0  rating
0              0       5
1              1       5
2              2       4
3              3       1
4              4       5
...          ...     ...
5474        5474       5
5475        5475       5
5476        5476       5
5477        5477       1
5478        5478       1

[5479 rows x 2 columns]

In [ ]:
print(y)

0                                                    nice
1       best biryani , so supportive staff of outlet ,...
2          delivery boy was very decent and supportive.üëåüëç
3       worst biryani i have tasted in my life, half o...
4       all food is good and tasty . will order again ...
                              ...
5474                                             complain
5475    it took 1 hour to assign valvet and thn prepar...
5476    took for an hour to prepare 3 khawsa, which in...
5477    very very late, littrally did time pass and it...
5478    Taste was stale and they give only 5 pieces in...
Name: review, Length: 5479, dtype: object

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values= np.nan , strategy= "mean")